.cards .card p {
    overflow-x: initial;
}


.cards {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin: 1em 0 0 -1em
}

.cards > li + li {
    margin-top: 0;
}

.cards .card {
    position: relative;
    background: #ECECEC;
    border: thin solid gray;
    padding: 0.3em 0.5em 0;
    margin: 2em 1em 1em;
}

.cards .card h1 {
    font-size: xx-large;
    margin-top: 0;
    margin-bottom: -0.2rem;
}

.cards .card .hoisted {
    position: absolute;
    bottom: 100%;
    margin-bottom: 0.2em;
    opacity: 0.6;
}

.cards .card p {
    line-height: 1.4;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}


.cards.cards-link-to-themselves .card h1 a {
    color: inherit;
}

.cards.cards-link-to-themselves .card h1 a:hover,
.cards.cards-link-to-themselves .card h1 a:focus {
    text-decoration: underline;
}

.cards.cards-link-to-themselves .card:target > h1 {
    color: green;
}


.cards .card .self-link a {
    text-decoration: none;
    color: inherit;
}

.cards .card .self-link a:hover,
.cards .card .self-link a:focus {
    text-decoration: underline;
}

.cards .card:target > .self-link {
    color: green;
    opacity: 1;
}


.cards .card .tags.addenda {
    position: absolute;
    top: 100%;
    margin-top: 0.2em;
}

.cards .card .tags.addenda .tag {
    font-size: smaller;
}

.cards .card .tags.addenda:hover,
.cards .card .tags.addenda:focus {
    opacity: 1;
}
