.flextree a {
    text-decoration: none;
}

.flextree a:hover,
.flextree a:focus
{
    text-decoration: underline;
}

.flextree ol > li.contains-children:hover > a:not(:hover) {
    color: green;
}

.flextree ol li, .flextree ol li.contains-children > a {
    padding: 0 0.6em;
    margin: 0.5em 0;
    border: thin solid transparent;
}

.flextree ol ol {
    display: flex;
    flex-flow: row wrap;
}

.flextree ol li.contains-children {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0;
    border: none;
}

.flextree ol li.contains-children > ol {
    background-color: rgba(0, 0, 0, 0.05);
    border: thin solid gray;
}

.flextree > ol > li.contains-children > ol > li.contains-children > ol {
    margin-left: 0.6em;
    margin-right: 0.6em;
}
