@font-face {
    font-family: "HexstreamSoft Main";
    src: local("Liberation Serif"), local("LiberationSerif"), url("../fonts/liberation/LiberationSerif-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "HexstreamSoft Main";
    font-weight: bold;
    src: local("Liberation Serif Bold"), local("LiberationSerif-Bold"), url("../fonts/liberation/LiberationSerif-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "HexstreamSoft Main";
    font-style: italic;
    src: local("Liberation Serif Italic"), local("LiberationSerif-Italic"), url("../fonts/liberation/LiberationSerif-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "HexstreamSoft Main";
    font-weight: bold;
    font-style: italic;
    src: local("Liberation Serif Bold Italic"), local("LiberationSerif-BoldItalic"), url("../fonts/liberation/LiberationSerif-BoldItalic.ttf") format("truetype");
}
