@font-face {
    font-family: "Kaushan Script";
    src: url("../fonts/kaushan-script/KaushanScript-Regular.otf") format("opentype");
}


@font-face {
    font-family: "Liberation Serif";
    src: url("../fonts/liberation/LiberationSerif-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Liberation Serif";
    font-weight: bold;
    src: url("../fonts/liberation/LiberationSerif-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Liberation Serif";
    font-style: italic;
    src: url("../fonts/liberation/LiberationSerif-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Liberation Serif";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/liberation/LiberationSerif-BoldItalic.ttf") format("truetype");
}
