input.replaced {
    display: none;
}

input.replaced + label {
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: 50% 50%;
}

input[type="radio"].replaced + label {
    background-image: url("images/unchecked-radio-button.svg");
    background-size: 1em;
}

input[type="radio"].replaced[data-dynamic-context~="related-radio-button"] + label {
    background-image: url("images/unchecked-radio-button.svg"), url("images/related-radio-button.svg");
    background-size: 1em, 2.1em 1em;
}

input[type="radio"].replaced:checked + label {
    background-image: url("images/checked-radio-button.svg");
}

input[type="radio"].replaced[data-dynamic-context~="related-radio-button"]:checked + label {
    background-image: url("images/checked-radio-button.svg"), url("images/related-radio-button.svg");
    background-size: 1em, 2.1em 1em;
}

input[type="checkbox"].replaced + label {
    background-image: url("images/unchecked-checkbox.svg");
    background-size: 0.886226925454em;
    /* Radio buttons (circles) and checkboxes (squares) are made to have the same area,
       else checkboxes look (and actually are) bigger. */
}

input[type="checkbox"].replaced:checked + label {
    background-image: url("images/checked-checkbox.svg");
}


.navtable td label:hover, .navtable td label:focus {
    background-color: #ECE0A5;
}

.navtable td input.replaced + label {
    display: block;
    padding: 0.4em 0.6em;
}