@import "nav.css";
@import "cl.css";
@import "table.css";
@import "fonts.css";

body {
    font-family: "HexstreamSoft Main", serif;
}

dt {
    margin: 1.5em 1.8em 0;
    font-size: large;
}

dt + dt {
    margin-top: 0.5em;
}

dt a {
    text-decoration: none;
}

dd {
    margin-left: 2em;
    margin-right: 2em;
}

dd p:first-child {
    margin-top: 0.25em;
}


dd p {
    margin: 0.8em 1.5em;
}

dd ul, dd ol {
    margin: 0.8em 3.5em;
}

dd ul li, dd ol li {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}


#last-updated {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5em 0.5em 1em;
    line-height: 1.2em;
    border: medium solid black;
    background: #FFCC99;
    text-decoration: none;
}

#last-updated > span {
    display: none;
}

#last-updated > time {
    display: block;
    padding: 0.175em 0.5em;
}

#last-updated:after {
    content: "Page last updated on";
    position: absolute;
    right: 0;
    top: 100%;
    font-size: smaller;
    text-align: right;
    margin-top: 0.1em;
    white-space: nowrap;
}

#last-updated:hover {
    z-index: 2;
}


main {
    margin: 4em 1.5em 1.5em 12.5em;
    position: relative;
    z-index: 2;
}

main + #footer > div {
    margin-left: 12.5em;
    margin-right: 1.5em;
    border: medium solid transparent;
}

h1 a {
    text-decoration: none;
}

ul {
    margin: 1em 2em;
}


section {
    margin: 3em auto;
}

header h1 {
    text-align: center;
    margin: 0 auto 1em;
}

header .description {
    margin: -1.3em 0 0;
}

#page-header {
    text-align: center;
    margin: 0 auto 1.75em;
    font-family: sanvito-pro-display, serif;
}

#page-header h1 {
    margin: 0;
    padding: 0;
    font-weight: bolder;
    font-size: 3em;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
}

#page-header h1 a {
    text-decoration: none;
}

#page-header p {
    padding: 0;
    margin: 0;
    line-height: 1.15em;
}

#page-header p + p {
    margin-top: 0.25em;
}

#page-header .description {
    font-size: large;
}


.notice {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 40em;
    padding: 0.2rem 0.4rem;
    border: solid thick transparent;
    margin: 0.5em auto;
    text-align: center;
    clear: both;
}

.notice + table {
    margin-top: 2em;
}

.notice > b {
    flex: none;
    font-size: 3em;
    line-height: 1em;
    text-align: center;
    padding: 0.2rem 0.4rem;
}

.notice > div {
    flex: 1 1 auto;
    padding: 0.2rem 0.4rem;
}

.notice > div p {
    line-height: 1.4em;
    padding: 0;
    margin: 0.6em 0;
}

.notice.good-news {
    border-color: green;
}

.notice.good-news > b {
    color: green;
    font-weight: normal;
}

.notice.warning {
    border-color: orange;
}

.notice.warning > b {
    color: orange;
}

.notice.note {
    border-color: lightslategray;
}

.notice.note > b {
    color: lightslategray;
    padding-left: 1rem;
    padding-right: 1rem;
}


p {
    margin: 1em;
    line-height: 1.4em;
}


.float-clear {
    clear: both;
}

.panel {
    position: relative;
    border: solid medium #AAAAAA;
    background: #ECECEC;
}


#footer {
    position: relative;
    text-align: center;
    margin-top: 2em;
    padding: 1em 0;
    border-top: dashed medium #DDDDDD;
}

.page-badge {
    position: relative;
    z-index: 2;
    color: green;
    margin: 0.5em;
    text-decoration: none;
}

.page-badge a {
    color: inherit;
    text-decoration: inherit;
}


h1 {
    margin-top: 1em;
    position: relative;
}


li + li {
    margin-top: 0.5em;
}

li li {
    margin-bottom: 0.25em;
}

.modifier-key, .emacs-command {
    border: solid thin #CCCCCC;
    background-color: #EEEEEE;
    color: #444444;
    padding: 0.3em;
}


.good-news {
    color: green;
}

.caution {
    color: orange;
}

.watch-out {
    color: red;
}

.good-news a, .watch-out a {
    color: inherit;
}

a.tweet {
    color: cadetblue;
}

.quick-note {
    display: table;
    text-align: center;
    line-height: 1.6em;
    margin: 0.8em auto;
}

.state-warning {
    text-align: center;
    color: red;
    font-weight: bold;
}


.multiline-parentheses {
    display: table;
    margin-left: auto;
    margin-right: auto;
    background-image: url("left-parenthese.svg"), url("right-parenthese.svg");
    background-repeat: no-repeat;
    background-position: 0% 50%, 100% 50%;
    background-size: 100% 100%, 100% 100%;
    padding: 0.6em 1.2em;
}

.multiline-parentheses .multiline-parenthese {
    display: none;
}
