@import "news.css";

body {
    overflow-x: hidden;
}

main {
    margin: 3em 1.5em 0;
}

#page-header {
    margin: 1.5em auto 2em;
}

#page-header h1 {
    font-size: 3.5em;
    letter-spacing: 0.1em;
}

#page-header .description {
    font-size: large;
    margin-top: -0.2em;
    line-height: 1.2em;
    word-spacing: 0.1em;
    letter-spacing: 0.025em;
}

#page-header .additional-info {
    font-size: large;
    letter-spacing: 0.06em;
    word-spacing: 0.12em;
    line-height: 1em;
}

#footer > div {
    margin-left: 1.5em;
}
