@import "navlist.css";
@import "navbox.css";
@import "section-nav.css";


/* Reset doesn't actually belong here... */

* {
    padding: 0;
    margin: 0;
}

ol, ul {
    list-style-type: none;
}


#site-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#meta-nav:empty {
    opacity: 0;
}

article, section {
    position: relative;
}

.hanging-menu {
    position: absolute;
    right: 0;
    margin-top: -1.19em;
    z-index: 1;
    text-align: right;
    background: #ECECEC;
    border: solid thin gray;
}

#page-header + .hanging-menu {
    top: 1.05em;
    margin-top: 0;
    right: 0;
}

.hanging-menu ul {
    margin: 0;
    font-size: smaller;
    padding: 0.2em 0.4em;
}

.hanging-menu a {
    text-decoration: none;
}


.breadcrumbs-and-extras {
    background: white;
}

.breadcrumbs-and-extras nav, .breadcrumbs-and-extras > div {
    float: left;
}

.breadcrumbs-and-extras div.float-clear {
    float: none;
}

nav.breadcrumbs, .breadcrumbs-and-extras nav {
    position: relative;
    margin: 0.5em 0.5em 1em;
    background: #FFCC99;
    border: medium solid black;
    text-decoration: none;
}

nav.breadcrumbs a, .breadcrumbs-and-extras nav a {
    position: relative;
    text-decoration: inherit;
}

.breadcrumbs-and-extras nav a meter, .breadcrumbs-and-extras nav a span {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
    margin-top: 0.2em;
    height: 0.5em;
}

.breadcrumbs-and-extras nav a span {
    text-align: center;
    font-size: smaller;
    white-space: pre;
    margin-top: 0.2em;
    color: black;
}

nav.breadcrumbs > a, nav.breadcrumbs > span, .breadcrumbs-and-extras nav > a, .breadcrumbs-and-extras nav > span {
    float: left;
    padding: 0.175em 0.25em;
}

nav.breadcrumbs > span {
    font-weight: bolder;
}

nav.breadcrumbs > a:first-child, .breadcrumbs-and-extras nav > a:first-child {
    padding-left: 0.5em;
}

nav.breadcrumbs > a:nth-last-child(2), .breadcrumbs-and-extras nav > a:last-child {
    padding-right: 0.5em;
}

nav.breadcrumbs a:hover, nav.breadcrumbs a:focus, .breadcrumbs-and-extras nav a:hover {
    background: #FFDD99;
    outline-style: none;
}

nav.breadcrumbs a.here:hover, nav.breadcrumbs a.here:focus {
    background: transparent;
}


.breadcrumbs.mothership a:nth-last-child(3) {
    padding-right: 0.5em;
}

.breadcrumbs.mothership span:nth-last-child(2) {
    position: absolute;
    left: 100%;
    border-left: solid medium transparent;
}


.start-browsing + .start-browsing, nav.merge + nav.merge {
    margin-left: -0.5em;
    border-left: none;
}


.back-to-top {
    display: block;
    text-align: center;
    margin: 1em 0.5em;
    width: 10em;
    background: #FFCC99;
    border: medium solid black;
    text-decoration: none;
}

.ancestors-nav .back-to-top {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#footer .back-to-top {
    position: absolute;
    top: 0;
    left: 0;
}

.back-to-top:hover, .back-to-top:focus {
    background: #FFDD99;
    outline-style: none;
}


.anchor {
    text-decoration: none;
    font-weight: bold;
    opacity: 0.20;
    font-size: large;
}

.anchor:hover {
    opacity: 1;
}

dt {
    position: relative;
}

main dt .anchor {
    position: absolute;
    left: 0;
    margin-top: 0.1em;
    margin-left: -1.4em;
    font-size: medium;
}


ul.tabs {
    display: table;
    border-collapse: collapse;
    margin: -0.5em auto 0;
    background: #FFCC99;
    border: medium solid black;
}

ul.tabs > li {
    display: table-cell;
    border: thin solid grey;
}

ul.tabs > li > a {
    display: block;
    position: relative;
    padding: 0.35em 1em;
    text-decoration: none;
}

ul.tabs > li > a.here {
    text-decoration: underline;
}

ul.tabs > li > a:hover, ul.tabs > li > a:focus {
    background: #FFDD99;
    outline-style: none;
}

ul.tabs > li > a.here:hover, ul.tabs > li > a.here:focus, ul.tabs > li > a.not-available:hover, ul.tabs > li > a.not-available:focus {
    background: transparent;
}


.navtable {
    font-size: larger;
    border: 0.15em solid black;
}

.navtable.contains-main-colgroup {
    border: none;
}

.navtable colgroup.main {
    border: 0.15em solid black;
}

.navtable thead th {
    padding: 0.4em 0.6em;
}

.navtable th, .navtable td {
    padding: 0;
}

.navtable th a, .navtable td a {
    display: block;
    padding: 0.4em 0.6em;
    text-decoration: none;
}

.navtable th.noa, .navtable td.noa {
    padding: 0.4em 0.6em;
}

.navtable td a[href]:hover, .navtable td a[href]:focus {
    background: #ECE0A5;
}
