@import "breadcrumbs.css";
@import "section-nav.css";
@import "tabs.css";
@import "navlist.css";

:root {
    --top-nav-margin: 0.5em;
}

/* Reset doesn't actually belong here... */

* {
    padding: 0;
    margin: 0;
}

ol, ul {
    list-style-type: none;
}


#site-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

article, section {
    position: relative;
}

.hanging-menu {
    position: absolute;
    right: 0;
    margin-top: -1.555em;
    z-index: 1;
    text-align: right;
    background: #ECECEC;
    border: solid thin gray;
}

#page-header + .hanging-menu {
    top: 1.5em;
    margin-top: 0;
    right: 0;
    margin-right: var(--main_padding-right);
}

@media (max-width: 48em) {
    #page-header + .hanging-menu {
        position: initial;
        display: table;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.8em;
    }
}

.hanging-menu ul {
    margin: 0;
    font-size: smaller;
    padding: 0.2em 0.4em;
}

.hanging-menu a {
    text-decoration: none;
}

#top-nav {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    margin-bottom: var(--top-nav-margin);
}

#top-nav > .main {
    flex: 1 0;
    display: flex;
    flex-flow: row wrap;
}

#top-nav > .main > nav,
#top-nav > .main > .breadcrumbs {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    background: var(--nav-background-color);
    margin: var(--top-nav-margin);
    border: medium solid black;
}

#top-nav > .main > nav a,
#top-nav > .main > .breadcrumbs a {
    position: relative;
    text-decoration: none;
}

#top-nav > .main > nav > a,
#top-nav > .main > .breadcrumbs > a {
    padding: var(--breadcrumbs-link-vertical-padding) var(--breadcrumbs-link-horizontal-padding);
}

#top-nav > .main > nav > a:first-child,
#top-nav > .main > .breadcrumbs > a:first-child {
    padding-left: calc(var(--breadcrumbs-link-horizontal-padding) * 2);
}

#top-nav > .main > nav > a:last-child,
#top-nav > .main > .breadcrumbs > a:last-child {
    padding-right: calc(var(--breadcrumbs-link-horizontal-padding) * 2);
}


#top-nav > .main > nav a[href]:hover, #top-nav > .main > nav a[href]:focus,
#top-nav > .main > .breadcrumbs a[href]:hover, #top-nav > .main > .breadcrumbs a[href]:focus {
    background-color: var(--nav-background-highlight-color);
    outline-style: none;
}

#top-nav > .main > nav a.here:hover, #top-nav > .main > nav a.here:focus,
#top-nav > .main > .breadcrumbs a.here:hover, #top-nav > .main > .breadcrumbs a.here:focus {
    background-color: initial;
}

#top-nav > .main > nav a .under,
#top-nav > .main > .breadcrumbs a .under,
.tabs a .under {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
    font-size: smaller;
    margin-top: 0.2em;
    height: var(--top-nav-margin);
    white-space: pre;
    margin-top: 0.2em;
    text-align: center;
    color: black;
}


#meta-nav ul > li {
    border-top: none;
    border-bottom: none;
}

#meta-nav a {
    display: flex;
    flex-flow: row;
    align-items: stretch;
}

#meta-nav a:before {
    content: "";
    flex: none;
    position: relative;
    left: calc(var(--breadcrumbs-link-horizontal-padding) * -1);
    width: 1em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#meta-nav .github:before {
    background-image: url("https://non-free.hexstream.dev/global.hexstream.dev/images/logos/github.svg");
}

#meta-nav .linkedin:before {
    background-image: url("https://workshop.hexstream.xyz/svg/remakes/linkedin.svg");
}

#meta-nav .canonical:before {
    background-image: url("https://abc.hexstream.xyz/images/globe.svg");
}

@media (max-width: 34em) {
    #meta-nav a > span {
        display: none;
    }

    #meta-nav .github:after {
        content: "GitHub";
    }

    #meta-nav .linkedin:after {
        content: "LinkedIn";
    }

    #meta-nav .canonical:after {
        content: "Web";
    }
}

@media (max-width: 20em) {
    #meta-nav a:before {
        position: initial;
    }
    #meta-nav .github:after, #meta-nav .linkedin:after, #meta-nav .canonical:after {
        content: "​"; /* Zero width space */
    }
}


#top-nav + main {
    margin-top: 0;
}

#last-updated, .last-updated {
    flex: none;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    white-space: nowrap;
    line-height: 1.2;
    margin: var(--top-nav-margin) var(--top-nav-margin) 0 0;
    text-decoration: none;
    overflow: initial;
}

#last-updated > span, .last-updated > span {
    display: none;
}

#last-updated > time, .last-updated > time {
    display: block;
    padding: 0.2em 0.5em;
    border: medium solid black;
    background: var(--nav-background-color);
}

#last-updated:after, .last-updated:after {
    content: "Page last updated on";
    font-size: smaller;
    text-align: right;
    line-height: inherit;
    white-space: nowrap;
    margin-left: -0.2em;
}

.last-updated:after {
    content: "Section last updated on";
}

@media (max-width: 16em) {
    #top-nav {
        flex-flow: column;
    }
    #last-updated {
        align-items: flex-start;
        margin-left: var(--top-nav-margin);
        margin-right: 0;
    }
    #last-updated:after {
        margin-left: 0;
    }
}


.start-browsing + .start-browsing, nav.merge + nav.merge {
    margin-left: -0.5em;
    border-left: none;
}


:root {
    --footer-border: dashed medium #DDDDDD;
}

#footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
    margin-top: auto;
    border-top: var(--footer-border);
}


#footer a {
    text-decoration: none;
}

#footer .main {
    flex: 1 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

#footer .main > a {
    white-space: nowrap;
    color: green;
    margin: 0.25em 0.5em;
}

#footer .main > a[href]:hover,
#footer .main > a[href]:focus {
    text-decoration: underline;
}

#footer .back-to-top {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.5rem;
    line-height: normal;
}

#footer .back-to-top > a {
    font-size: x-large;
    width: 1.2em;
    background: var(--nav-background-color);
    border: medium solid black;
    opacity: 0.25;
}

#footer .back-to-top > a[href]:hover, #footer .back-to-top > a[href]:focus {
    background-color: var(--nav-background-highlight-color);
    outline-style: none;
    opacity: initial;
}

@media (max-width: 34em) {
    #footer {
        position: relative;
    }

    #footer .back-to-top.left {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        border-bottom: dashed medium transparent;
    }

    #footer .back-to-top.right {
        display: none;
    }
}

#footers {
    position: relative;
    margin-top: auto;
}

#footers #footer {
    position: initial;
    margin-top: 0;
}


.anchor {
    text-decoration: none;
    font-weight: bold;
    opacity: 0.20;
    font-size: large;
}

.anchor:hover {
    opacity: 1;
}

dt {
    position: relative;
}

main dt .anchor {
    position: absolute;
    left: 0;
    margin-top: 0.1em;
    margin-left: -1.2em;
    font-size: medium;
}

@media (max-width: 24em) {
    dl, dl dd {
        margin-left: 0.2em;
    }

    main dt .anchor {
        margin: 0 0 -0.4em -0.15em;
        bottom: 100%;
    }
}
