section.item-section h1 {
    border: dashed thin gray;
}

section .breadcrumbs-bar .section-relative-nav .of {
    position: absolute;
    left: auto;
    right: 100%;
    top: 50%;
    font-size: medium;
    padding: 0.1em 0.2em;
    margin-top: -0.7em;
    margin-right: 0.4em;
    color: black;
    opacity: 0.25;
}

section .breadcrumbs-bar .section-relative-nav .of.tight {
    margin-right: 0.1em;
}

section .breadcrumbs-bar .section-relative-nav .of:hover {
    opacity: 1;
}

section .description-and-last-updated {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-top: -1.2em;
}

section .description-and-last-updated .last-updated {
    margin-top: 0.25em;
    margin-left: auto;
    margin-bottom: -0.5em;
}

section > h1 +                               .description,
section > h1 + .description-and-last-updated .description {
    flex: 0 1 auto;
    display: table;
    margin: -1.2em 0 0 2.2em;
    padding: 0.2em;
    padding-top: 0.25em;
    opacity: 0.6;
}

section > h1 + .description-and-last-updated .description {
    margin-top: 0;
}


section > header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 auto 1em;
}

section > header > .breadcrumbs-bar {
    margin-top: 0;
    margin-bottom: 0;
}

section > header > a {
    margin: 0.75em;
    text-decoration: none;
}

section > :first-child a.direct-link {
    font-size: medium;
    padding: 0.2em 0.3em;
    border: thin solid;
    opacity: 0.5;
    align-self: center;
}

@media (max-width: 24em) {
    section > :first-child a.direct-link {
        font-size: small;
    }
}

section > :first-child .breadcrumbs a.direct-link {
    margin-left: 0.25em;
}

section > :first-child a.direct-link:hover {
    opacity: 1;
    background: var(--nav-background-color);
    border-color: black;
}

section > header > a.details-link {
    padding: 0.5em;
    border: thin solid green;
    color: green;
}

section > header > a.details-link:hover {
    background: green;
    color: white;
}

.end-of-section-indicator {
    font-size: smaller;
    color: black;
    opacity: 0.25;
    border-top: thin solid gray;
    border-bottom: thin solid gray;
    margin: 1em auto;
    display: table;
}

.end-of-section-indicator a {
    color: black;
    padding: 0 1em;
    text-decoration: none;
}

.end-of-section-indicator:hover {
    opacity: 1;
}
