table {
    border-collapse: collapse;
    margin: 1em auto 2em;
    margin-left: auto;
    margin-right: auto;
    border: solid 0.15em gray;
}

table.contains-main-colgroup {
    border: none;
}

table colgroup.main {
    border: solid 0.15em gray;
}

table.contains-weightless-colgroups {
    position: relative;
}

table.contains-anchor-column {
    left: -0.9em;
}

table th.anchor {
    padding: 0;
    border-top: transparent;
    border-left: transparent;
    border-bottom: transparent;
    background: transparent;
    width: 1.8em;
    opacity: 0;
}

table th.anchor a {
    display: block;
    text-align: center;
}

table tr:hover .anchor {
    opacity: 0.2;
}

table tr .anchor:hover {
    opacity: 1;
}


table.contains-direct-links th.name a {
    padding-right: 0.2em;
}

table.contains-direct-links th.direct-link {
    background: #E0E0E0;
    border-left: hidden;
}

table.contains-direct-links th.direct-link a {
    opacity: 0.2;
    padding-left: 0.2em;
    padding-right: 0.4em;
}

table.contains-direct-links .direct-link a:hover {
    opacity: 1;
}



table th.name {
    text-align: right;
}


table th a[href]:hover, table th a[href]:focus {
    background: transparent;
    text-decoration: underline;
}


table.sparse, colgroup.sparse {
    background-color: #ECECEC;
    background-image: url("images/not-applicable.svg");
    background-position: top left;
    background-attachment: scroll;
}

table.sparse .not-applicable, table.contains-sparse-colgroup .not-applicable {
    color: transparent;
    background: transparent;
}


table .ghost {
    background: transparent;
    color: rgba(0, 0, 0, 0.4);
    vertical-align: top;
}

table .ghost a {
    color: inherit;
}

table .ghost.left {
    text-align: right;
    border-top: 0.15em solid transparent;
    border-left: 0.15em solid transparent;
    border-bottom: 0.15em solid transparent;
}

table .ghost.right {
    text-align: left;
    border-top: 0.15em solid transparent;
    border-right: 0.15em solid transparent;
    border-bottom: 0.15em solid transparent;
}


table th {
    white-space: nowrap;
}

table th > a:only-child, table td > a:only-child {
    text-decoration: none;
}

table th.supercolumn {
    text-align: center;
}

table table {
    margin-top: 0;
    margin-bottom: 0;
}

table td.subdivided {
    padding: 0;
}

table p {
    margin: 0.5em;
}

table ul, table ol {
    margin: 0.5em 1em;
}

table th > ul:only-child, table th > ol:only-child, table td > ul:only-child, table td > ol:only-child {
    margin: 0;
}


table .link-cell {
    padding: 0;
}

table .link-cell > a {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0.4em 0.6em;
    text-align: center;
    text-decoration: none;
}

table .link-cell > a > span {
    flex: 1 0;
}

table .link-cell a[href]:hover, table .link-cell a[href]:focus {
    /*background-color: #ECE0A5;*/
    text-decoration: underline;
    outline-style: none;
}


table > thead > tr > th.horizontal-grouping-header a,
table > tbody > tr > th.horizontal-grouping-header a {
    text-align: center;
    font-size: xx-large;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

table > thead > tr:last-child > th {
    vertical-align: bottom;
}

table > tbody > tr > th > div:only-child, table > tbody > tr > td > div:only-child {
    position: relative;
    padding: 0;
    margin: 0;
}

th {
    text-align: left;
    background-color: #E0E0E0;
}

th p:last-child {
    margin-bottom: 0;
}

td {
    background-color: #ECECEC;
}

td, th {
    border: solid thin lightgray;
    padding: 0.4em 0.6em;
}

table tr > th:first-child {
    text-align: right;
}

table tr > th.library-name {
    text-align: left;
}


table .chomp {
    background-color: transparent;
}

table .chomp.top {
    border-top: hidden;
    border-bottom: 0.15em solid gray;
}

table .chomp.bottom {
    border-top: 0.15em solid gray;
    border-bottom: hidden;
}

table .chomp.left {
    border-left: hidden;
    border-right: 0.15em solid gray;
}

table .chomp.right {
    border-left: 0.15em solid gray;
    border-right: hidden;
}

table .chomp.top.bottom {
    border-top: hidden;
    border-bottom: hidden;
}

table .chomp.left.right {
    border-left: hidden;
    border-right: hidden;
}



.navtable {
    font-size: larger;
    border: 0.15em solid black;
}

.navtable.contains-main-colgroup {
    border: none;
}

.navtable colgroup.main {
    border: 0.15em solid black;
}

.navtable thead th {
    padding: 0.4em 0.6em;
}

.navtable th, .navtable td {
    padding: 0;
}

.navtable th a, .navtable td a {
    display: block;
    padding: 0.4em 0.6em;
    text-decoration: none;
}

.navtable th.noa, .navtable td.noa {
    padding: 0.4em 0.6em;
}

.navtable td a[href]:hover, .navtable td a[href]:focus {
    background-color: #ECE0A5;
}


.navtable .chomp.top {
    border-bottom: 0.15em solid black;
}

.navtable .chomp.left {
    border-right: 0.15em solid black;
}

.navtable .chomp.bottom {
    border-top: 0.15em solid black;
}

.navtable .chomp.right {
    border-left: 0.15em solid black;
}
