.cards .card p {
    overflow-x: revert;
}


.cards {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin: 1em 0 0 -1em;
}

.cards > li + li {
    margin-top: 0;
}

.cards .card {
    position: relative;
    background-color: #ECECEC;
    border: thin solid gray;
    padding: 0.3em 0.5em 0;
    margin: 2em 1em 1em;
    scroll-margin-top: 0.9rem;
    --p-vertical-margin: 0.6em;
}

.cards .card h1 {
    font-size: xx-large;
    margin-top: 0;
    margin-bottom: -0.2rem;
}

.cards .card:has(.hoisted) {
    scroll-margin-top: 1.8rem;
}

.cards .card .hoisted {
    position: absolute;
    bottom: 100%;
    margin-bottom: 0.2em;
    opacity: 0.6;
}

.cards.cards-link-to-themselves .card h1 a {
    color: inherit;
}

.cards.cards-link-to-themselves .card h1 a:is(:hover, :focus) {
    text-decoration: revert;
}

.cards.cards-link-to-themselves .card:target > h1 {
    color: green;
}


.cards .card .self-link a {
    color: inherit;
}

.cards .card .self-link a:where(:not(:is(:hover, :focus))) {
    text-decoration: none;
}

.cards .card:target > .self-link {
    color: green;
    opacity: revert;
}


.cards .card .tags.addenda {
    position: absolute;
    top: 100%;
    margin-top: 0.2em;
}

.cards .card .tags.addenda .tag {
    font-size: smaller;
}

.cards .card .tags.addenda:is(:hover, :focus) {
    opacity: revert;
}
