.example, pre {
    clear: both;
}

pre.example {
    display: table;
    margin: 1em 0;
    padding: 1em;
    border: thin solid lightgray;
    background: #ECECEC;
}

code a {
    text-decoration: none;
}

code a[href]:hover {
    text-decoration: revert;
    background-color: yellow;
}

p code {
    white-space: nowrap;
    padding: 0.1em 0.1em;
    border: thin solid lightgray;
    background: #ECECEC;
}

.relevant:is(code, cite) {
    background: transparent;
    padding: 0;
    border: none;
    white-space: nowrap;
    color: green;
}

code.relevant a {
    color: inherit;
}

code.relevant.marker {
    border-bottom: thin dashed;
}

code.common-lisp .comment {
    color: salmon;
}

code.common-lisp .comment a {
    color: inherit;
}

samp.error {
    color: red;
}

code.string {
    color: teal;
}
