#fundraiser-progress {
    display: table;
    font-size: x-large;
    border: thin solid black;
    text-align: center;
    padding: 0.5em 1em;
    margin: 2em auto;
}

#fundraiser-progress p:first-child {
    margin-top: 0;
}

#fundraiser-progress meter {
    width: 100%;
    font-size: 2em;
}

#fundraiser-progress p {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#fundraiser-progress p:last-child {
    margin-bottom: 0;
}
