* {
    padding: 0;
    margin: 0;
}

article, section {
    position: relative;
}

ol, ul {
    list-style-type: none;
}


html {
    --nav-background-color: #FFCC99;
    --nav-background-highlight-color: #FFDD99;
    --main_padding-left: 0.8rem;
    --main_padding-right: 0.8rem;
    height: 100%;
    line-height: 1.2;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100%;
    font-family: "Liberation Serif", serif;
}

video, audio {
    max-width: 100%;
    max-height: 100%;
}

.scroll {
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll.contains-table {
    margin-left: 1em;
}

.scroll.contains-table > table {
    margin: 0;
}

.nowrap {
    white-space: nowrap;
}

.long {
    white-space: normal;
}

.fit-content {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

section {
    max-width: 100%;
    margin: 2.5em auto;
    padding: 0.8em 0 0;
}

header h1 {
    text-align: center;
    margin: 0 auto 1em;
}

header .description {
    margin: -1.3em 0 0;
}


main {
    position: relative;
    padding-left: var(--main_padding-left);
    padding-right: var(--main_padding-right);
    margin-top: 3em;
    margin-bottom: 2.5em;
}

#page-header {
    text-align: center;
    margin: 0 auto 1em;
    font-family: "Kaushan Script", serif;
}

#page-header h1 {
    margin: 0;
    padding: 0;
    font-weight: bolder;
    font-size: 3em;
    line-height: 1.2;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
}

@media (max-width: 16em) {
    #page-header h1 {
        font-size: 16vw;
        line-height: 1.2;
    }
}

#page-header h1 a {
    text-decoration: none;
}

#page-header p {
    padding: 0;
    margin: 0;
    line-height: 1.15;
}

#page-header p + p {
    margin-top: 0.25em;
}

#page-header .description {
    font-size: large;
    margin-top: 0.5em;
}


@media (max-width: 24em) {
    html {
        --main_padding-left: 0.5rem;
        --main_padding-right: 0.5rem;
    }

    main {
        margin-top: 1.5em;
    }

    #page-header h1 {
        font-size: 16vw;
    }

    #page-header .description {
        margin-top: 4vw;
    }

    .navtable th a, .navtable td a {
        padding-left: 0.3em;
        padding-right: 0.3em;
    }

    table.contains-direct-links th.direct-link a {
        padding-left: 0;
        padding-right: 0.2em;
    }

}


h1 a {
    text-decoration: none;
}

ul {
    margin: 1em 2em;
}


.notice {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 40em;
    padding: 0.2rem 0.4rem;
    border: solid thick transparent;
    margin: 0.5em auto;
    text-align: center;
    clear: both;
}

.notice + table {
    margin-top: 2em;
}

.notice > b {
    flex: none;
    font-size: 3em;
    line-height: 1;
    text-align: center;
    padding: 0.2rem 0.4rem;
}

.notice > div {
    flex: 1 1 auto;
    padding: 0.2rem 0.4rem;
}

.notice > div p {
    line-height: 1.4;
    padding: 0;
    margin: 0.6em 0;
}

.notice.good-news {
    border-color: green;
}

.notice.good-news > b {
    color: green;
    font-weight: normal;
}

.notice.warning {
    border-color: orange;
}

.notice.warning > b {
    color: orange;
}

.notice.error {
    border-color: red;
}

.notice.error > b {
    color: red;
    font-family: monospace;
}

.notice.note {
    border-color: lightslategray;
}

.notice.note > b {
    color: lightslategray;
    padding-left: 1rem;
    padding-right: 1rem;
}


p {
    margin: 1em 0;
    line-height: 1.4;
}

main section p, main section pre, main section > * > li {
    overflow-x: auto;
}


.panel {
    position: relative;
    border: solid medium #AAAAAA;
    background: #ECECEC;
}


h1 {
    margin-top: 1em;
    position: relative;
}


li + li {
    margin-top: 0.5em;
}

li li {
    margin-bottom: 0.25em;
}

.modifier-key, .emacs-command {
    border: solid thin #CCCCCC;
    background-color: #EEEEEE;
    color: #444444;
    padding: 0.2em 0.3em;
}


.good-news {
    color: green;
}

.caution {
    color: orange;
}

.watch-out {
    color: red;
}

.good-news a, .watch-out a {
    color: inherit;
}

a.tweet {
    color: cadetblue;
}

.quick-note {
    display: table;
    text-align: center;
    line-height: 1.6;
    margin: 0.8em auto;
}

.state-warning {
    text-align: center;
    color: red;
    font-weight: bold;
}


figure {
    display: table;
    padding: 0.7em;
    padding-bottom: 0.5em;
    border: thin solid lightgray;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background: linen;
}

figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 0.2em;
    line-height: 1.4;
}

figure > img,
figure > a > img {
    border: thin solid gray;
    max-width: 100%;
    height: auto;
}

figure > img.noborder,
figure > a > img.noborder {
    border-color: transparent;
}


.multiline-parentheses {
    display: table;
    margin-left: auto;
    margin-right: auto;
    background-image: url("images/left-parenthese.svg"), url("images/right-parenthese.svg");
    background-repeat: no-repeat;
    background-position: 0% 50%, 100% 50%;
    background-size: 100% 100%, 100% 100%;
    padding: 0.6em 1.2em;
}

.multiline-parentheses .multiline-parenthese {
    display: none;
}


p.status-indicator {
    display: table;
    white-space: nowrap;
    letter-spacing: 0.1em;
    padding: 0.2em 0.5em;
    border: thin solid;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
}

.status-indicator.ready,
.status-indicator.detailed {
    color: green;
}

.status-indicator.incomplete,
.status-indicator.outdated,
.status-indicator.trivial,
.status-indicator.raw {
     color: orange;
}

.status-indicator.stub {
    color: red;
}


.subscript-agnostic-line-heights sup, .subscript-agnostic-line-heights sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

.subscript-agnostic-line-heights sub {
    top: 0.4em;
}

.subscript-agnostic-line-heights p {
    overflow-y: hidden;
}

.subscript-agnostic-line-heights #page-header .description {
    overflow-y: initial;
}


html:before {
    display: none;
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    background-image: url("https://global.hexstream.dev/css/images/owl-of-disapproval.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    z-index: 1000;
}

html:after {
    display: none;
    content: "Y U NO WIDER??";
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20vw;
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
    color: red;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: black;
    z-index: 1001;
}

.emoji {
    white-space: nowrap;
}

.heart {
    color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../non-free/images/heart.svg");
}



/* Nav */

:root {
    --breadcrumbs-link-vertical-padding: 0.2em;
    --breadcrumbs-link-horizontal-padding: 0.25em;
}

.breadcrumbs {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.breadcrumbs a {
    text-decoration: none;
}

.breadcrumbs > .crumb {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}

.breadcrumbs > .crumb > * {
    padding: var(--breadcrumbs-link-vertical-padding) var(--breadcrumbs-link-horizontal-padding);
}

.breadcrumbs > .crumb > .s {
    font-weight: bold;
}


:root {
    --top-nav-margin: 0.5em;
}

#top-nav {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    margin-bottom: var(--top-nav-margin);
}

#top-nav > .main {
    flex: 1 0;
    display: flex;
    flex-flow: row wrap;
}

#top-nav .breadcrumbs {
    padding-left: var(--breadcrumbs-link-horizontal-padding);
}

#top-nav .breadcrumbs > a:first-child {
    padding-left: calc(var(--breadcrumbs-link-horizontal-padding) * 2);
    margin-left: calc(var(--breadcrumbs-link-horizontal-padding) * -1);
}

#top-nav .breadcrumbs > .crumb:last-child > a {
    padding-right: calc(var(--breadcrumbs-link-horizontal-padding) * 2);
}

#top-nav > .main > nav,
#top-nav > .main > .breadcrumbs {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    background: var(--nav-background-color);
    margin: var(--top-nav-margin);
    border: medium solid black;
}

#top-nav > .main > nav a,
#top-nav > .main > .breadcrumbs a {
    position: relative;
    text-decoration: none;
}

#top-nav > .main > nav > a,
#top-nav > .main > .breadcrumbs > a {
    padding: var(--breadcrumbs-link-vertical-padding) var(--breadcrumbs-link-horizontal-padding);
}

#top-nav > .main > nav > a:first-child,
#top-nav > .main > .breadcrumbs > a:first-child {
    padding-left: calc(var(--breadcrumbs-link-horizontal-padding) * 2);
}

#top-nav > .main > nav > a:last-child,
#top-nav > .main > .breadcrumbs > a:last-child {
    padding-right: calc(var(--breadcrumbs-link-horizontal-padding) * 2);
}


#top-nav > .main > nav a[href]:hover, #top-nav > .main > nav a[href]:focus,
#top-nav > .main > .breadcrumbs a[href]:hover, #top-nav > .main > .breadcrumbs a[href]:focus {
    background-color: var(--nav-background-highlight-color);
    outline-style: none;
}

#top-nav > .main > nav a.here:hover, #top-nav > .main > nav a.here:focus,
#top-nav > .main > .breadcrumbs a.here:hover, #top-nav > .main > .breadcrumbs a.here:focus {
    background-color: initial;
}

#top-nav > .main > nav a .under,
#top-nav > .main > .breadcrumbs a .under,
.tabs a .under {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
    font-size: smaller;
    margin-top: 0.2em;
    height: var(--top-nav-margin);
    white-space: pre;
    margin-top: 0.2em;
    text-align: center;
    color: black;
}


#top-nav > .main > #meta-nav ul > li {
    border-top: none;
    border-bottom: none;
}

#top-nav > .main > #meta-nav a {
    display: flex;
    flex-flow: row;
    align-items: stretch;
}

#top-nav > .main > #meta-nav a:before {
    content: "";
    flex: none;
    position: relative;
    left: calc(var(--breadcrumbs-link-horizontal-padding) * -1);
    width: 1em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#top-nav > .main > #meta-nav .github:before {
    background-image: url("../non-free/images/logos/github.svg");
}

#top-nav > .main > #meta-nav .linkedin:before {
    background-image: url("https://workshop.hexstream.xyz/svg/remakes/linkedin.svg");
}

#top-nav > .main > #meta-nav .canonical:before {
    background-image: url("https://abc.hexstream.xyz/images/globe.svg");
}

@media (max-width: 34em) {
    #top-nav > .main > #meta-nav a > span {
        display: none;
    }

    #top-nav > .main > #meta-nav .github:after {
        content: "GitHub";
    }

    #top-nav > .main > #meta-nav .linkedin:after {
        content: "LinkedIn";
    }

    #top-nav > .main > #meta-nav .canonical:after {
        content: "Web";
    }
}

@media (max-width: 20em) {
    #top-nav > .main > #meta-nav a:before {
        position: initial;
    }
    #top-nav > .main > #meta-nav .github:after, #top-nav > .main > #meta-nav .linkedin:after, #meta-nav .canonical:after {
        content: "​"; /* Zero width space */
    }
}



#top-nav + main {
    margin-top: 0;
}

#last-updated, .last-updated {
    flex: none;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    white-space: nowrap;
    line-height: 1.2;
    margin: var(--top-nav-margin) var(--top-nav-margin) 0 0;
    text-decoration: none;
    overflow: initial;
}

#last-updated > span,
.last-updated > span {
    display: none;
}

#last-updated > time,
.last-updated > time {
    display: block;
    padding: 0.2em 0.5em;
    border: medium solid black;
    background: var(--nav-background-color);
}

#last-updated:after,
.last-updated:after {
    content: "Page last updated on";
    font-size: smaller;
    text-align: right;
    line-height: inherit;
    white-space: nowrap;
    margin-left: -0.2em;
}

.last-updated:after {
    content: "Section last updated on";
}

@media (max-width: 16em) {
    #top-nav {
        flex-flow: column;
    }
    #last-updated {
        align-items: flex-start;
        margin-left: var(--top-nav-margin);
        margin-right: 0;
    }
    #last-updated:after {
        margin-left: 0;
    }
}


.hanging-menu {
    position: absolute;
    right: 0;
    margin-top: -1.555em;
    z-index: 1;
    text-align: right;
    background: #ECECEC;
    border: solid thin gray;
}

#page-header + .hanging-menu {
    top: 1.5em;
    margin-top: 0;
    right: 0;
    margin-right: var(--main_padding-right);
}

@media (max-width: 48em) {
    #page-header + .hanging-menu {
        position: initial;
        display: table;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.8em;
    }
}

.hanging-menu ul {
    margin: 0;
    font-size: smaller;
    padding: 0.2em 0.4em;
}

.hanging-menu a {
    text-decoration: none;
}


.start-browsing + .start-browsing, nav.merge + nav.merge {
    margin-left: -0.5em;
    border-left: none;
}


:root {
    --footer-border: dashed medium #DDDDDD;
}

#footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
    margin-top: auto;
    border-top: var(--footer-border);
}


#footer a {
    text-decoration: none;
}

#footer .main {
    flex: 1 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

#footer .main > a {
    white-space: nowrap;
    color: green;
    margin: 0.25em 0.5em;
}

#footer .main > a[href]:hover,
#footer .main > a[href]:focus {
    text-decoration: underline;
}

#footer .back-to-top {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.5rem;
    line-height: normal;
}

#footer .back-to-top > a {
    font-size: x-large;
    width: 1.2em;
    background: var(--nav-background-color);
    border: medium solid black;
    opacity: 0.25;
}

#footer .back-to-top > a[href]:hover,
#footer .back-to-top > a[href]:focus {
    background-color: var(--nav-background-highlight-color);
    outline-style: none;
    opacity: initial;
}

@media (max-width: 34em) {
    #footer {
        position: relative;
    }

    #footer .back-to-top.left {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        border-bottom: dashed medium transparent;
    }

    #footer .back-to-top.right {
        display: none;
    }
}

#footers {
    display: flex;
    flex-flow: column;
    position: relative;
    margin-top: auto;
}

#footers #footer {
    position: initial;
    margin-top: 0;
}


.anchor {
    text-decoration: none;
    font-weight: bold;
    opacity: 0.20;
    font-size: large;
}

.anchor:hover {
    opacity: 1;
}



/* Fonts */

@font-face {
    font-family: "Kaushan Script";
    src: url("../fonts/kaushan-script/KaushanScript-Regular.otf") format("opentype");
    font-display: block;
}


@font-face {
    font-family: "Liberation Serif";
    src: url("../fonts/liberation/LiberationSerif-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Liberation Serif";
    font-weight: bold;
    src: url("../fonts/liberation/LiberationSerif-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Liberation Serif";
    font-style: italic;
    src: url("../fonts/liberation/LiberationSerif-Italic.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Liberation Serif";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/liberation/LiberationSerif-BoldItalic.ttf") format("truetype");
    font-display: swap;
}
