main {
    margin-top: 0;
}

#page-header {
    margin: 0 auto 2em;
}

#page-header h1 {
    letter-spacing: 0.1em;
}

#page-header .description {
    font-size: large;
    margin-top: 0.5em;
    line-height: 1.2;
    word-spacing: 0.1em;
    letter-spacing: 0.025em;
}

#page-header .additional-info {
    font-size: large;
    letter-spacing: 0.06em;
    word-spacing: 0.12em;
    line-height: 1;
}

#footer > div {
    margin-left: 0;
    margin-right: 0;
}
