.navtable {
    border: 0.15em solid black;
}

@media (min-width: 48em) {
    .navtable {
        font-size: larger;
    }
}

.navtable:has(> colgroup.main) {
    border: none;
}

.navtable > colgroup.main {
    border: 0.15em solid black;
}

.navtable thead th:not(.a) {
    padding: 0.3em 0.6em;
}

.navtable :is(th, td) {
    padding: 0;
}

.navtable :is(th, td) a {
    display: block;
    padding: 0.3em 0.6em;
    text-decoration: none;
}

.navtable :is(th, td).noa {
    padding: 0.3em 0.6em;
}

.navtable td a[href]:is(:hover, :focus) {
    background-color: #ECE0A5;
}


.navtable .chomp.top {
    border-bottom: 0.15em solid black;
}

.navtable .chomp.left {
    border-right: 0.15em solid black;
}

.navtable .chomp.bottom {
    border-top: 0.15em solid black;
}

.navtable .chomp.right {
    border-left: 0.15em solid black;
}
