p.status-indicator {
    display: table;
    white-space: nowrap;
    letter-spacing: 0.1em;
    padding: 0.2em 0.5em;
    border: thin solid;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
}

.status-indicator:is(:hover, :focus) {
    opacity: 1;
}

.status-indicator:is(.ready, .detailed) {
    color: green;
}

.status-indicator:is(.incomplete, .outdated, .trivial, .raw) {
     color: orange;
}

.status-indicator.stub {
    color: red;
}


.navlist section .status-indicator {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.7em;
    margin: 0.3em;
}
