table .ghost {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.4);
    vertical-align: top;
}

table .ghost a {
    color: inherit;
}

table .ghost.left {
    text-align: end;
    border-top: 0.15em solid transparent;
    border-left: 0.15em solid transparent;
    border-bottom: 0.15em solid transparent;
}

table .ghost.right {
    text-align: initial;
    border-top: 0.15em solid transparent;
    border-right: 0.15em solid transparent;
    border-bottom: 0.15em solid transparent;
}
